.wrapper {
  background: #f3f5fc;
  padding: 50px 32px 55px 30px;
  height: 100vh;
  overflow-y: auto;
  min-width: calc(100vw - var(--sidenav-width));
}

@media (max-width: 991px) {
  .wrapper {
    padding: 0px 20px 25px 20px;
  }
}
